<script src="/assets/js/lunr.js"></script>

<script>
  {%- assign counter = 0 -%}
  {% assign allPages = site.pages | concat: site.posts %}
  var documents = [
    {% for page in allPages %}
      {%- if page.url contains '.xml' or page.url contains 'assets' or page.title == "Home" or page.title == 404 -%}
        {%- else -%}{
        "id": {{ counter }},
        "url": "{{ site.url }}{{ page.url }}",
        "description": "{{ page.description }}",
        "title": "{{ page.title }}",
        "image": "{{ page.image | default: "/assets/images/logo.jpg" | prepend: site.url | prepend: site.baseurl }}",
        "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"
        {%- assign counter = counter | plus: 1 -%}
        },
      {%- endif -%}
    {% endfor %}
  ];

  var idx = lunr(function () {
      this.ref('id')
      this.field('title')
      this.field('body')

      documents.forEach(function (doc) {
          this.add(doc)
      }, this)
  });
  function lunr_search(term) {
    console.log(documents);
      document.getElementById('lunrsearchresults').innerHTML = '<section class="tiles" id="one"></section>';
      if(term) {
          document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
          //put results on the screen.
          var results = idx.search(term);
          if(results.length>0){
              for (var i = 0; i < results.length; i++) {
                  // more statements
                  var ref = results[i]['ref'];
                  var url = documents[ref]['url'];
                  var title = documents[ref]['title'];
                  var image = documents[ref]['image'];
                  var body = documents[ref]['body'].substring(0,160)+'...';
                  document.querySelector('#lunrsearchresults section').innerHTML = document.querySelector('#lunrsearchresults section').innerHTML + `
                  <article>
                    <span class="image">
                        <img src="${image}" alt="${title}"/>
                    </span>
                    <header class="major">
                        <h4>
                            <a href="${url}" class="link">${title}</a>
                        </h4>
                        <a href="${url}"><p>${body}</p></a>
                </article>
        `;
              }
          } else {
              document.querySelector('#lunrsearchresults section').innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
          }
      }
      return false;
  }
</script>

<form
  onSubmit="return lunr_search(document.getElementById('lunrsearch').value);"
>
  <p>
    <input
      type="text"
      class="form-control"
      id="lunrsearch"
      name="q"
      maxlength="255"
      value=""
      placeholder="Search via Lunr.js"
    />
  </p>
</form>
<div id="lunrsearchresults">
  <ul style="list-style-type: none;"></ul>
</div>
