{%- assign project = include.isProject -%}
{%- assign ps = site.posts | where: 'project', project | where_exp: "post", "post.url != page.url" -%}
<section class="tiles" id="one">
  {%- if include.showAll == true or include.showAll == 'true' -%}
    {%- for post in ps -%}
      <article>
        <span class="image">
          {%- include responsive-image.liquid
            path=post.image
            alt=post.title
            class='tile-image'
            sizes='(max-width: 736px) calc(100vw - 3em), (max-width: 1280px) 50vw, 33vw'
          -%}
        </span>
        <a href="{{ post.url | relative_url }}" class="link primary" aria-label="{{ post.title }}"></a>
        <header class="major">
          <h3>
            <a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a>
          </h3>
        </header>
      </article>
    {%- endfor -%}
  {%- elsif include.limit -%}
    {%- assign tile_limit = include.limit | plus: 0 -%}
    {%- for post in ps limit: tile_limit -%}
      <article>
        <span class="image">
          {%- include responsive-image.liquid
            path=post.image
            alt=post.title
            class='tile-image'
            sizes='(max-width: 736px) calc(100vw - 3em), (max-width: 1280px) 50vw, 33vw'
          -%}
        </span>
        <a href="{{ post.url | relative_url }}" class="link primary" aria-label="{{ post.title }}"></a>
        <header class="major">
          <h3>
            <a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a>
          </h3>
        </header>
      </article>
    {%- endfor -%}
  {%- else -%}
    {%- assign tile_limit = site.tiles-count | plus: 0 -%}
    {%- for post in ps limit: tile_limit -%}
      <article>
        <span class="image">
          {%- include responsive-image.liquid
            path=post.image
            alt=post.title
            class='tile-image'
            sizes='(max-width: 736px) calc(100vw - 3em), (max-width: 1280px) 50vw, 33vw'
          -%}
        </span>
        <a href="{{ post.url | relative_url }}" class="link primary" aria-label="{{ post.title }}"></a>
        <header class="major">
          <h3>
            <a href="{{ post.url | relative_url }}" class="link">{{ post.title }}</a>
          </h3>
        </header>
      </article>
    {%- endfor -%}
  {%- endif -%}
</section>